name: CI

on:
  push:
    branches: [master]

jobs:
  build:
    services:
      couchbase:
        image: couchbase/server-sandbox:7.0.2
        ports:
          - 8091-8094:8091-8094
          - 11210:11210

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node_version: [ '16' ]

    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1

      - name: Generate docs
        run: yarn docs

      - name: Publish docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
